# Add directories, files, and symbolic links which should not be stored within
# the repository here.

# Helper files requiring special attention
!.gitignore
!.gitattributes

# Added by cargo
/target

# Profiling artifacts
*.svg
flamegraph*.svg
perf*.data
perf*.old

# mdbook output
/docs/book/
